webdriver-manager
selenium
ddgs
typing-extensions
langchain-core
langchain-mcp-adapters
pandasql
pandas
httpx
langchain
langchain_google_genai
langchain-openai
python-dotenv
pydantic
duckduckgo-search
wikipedia
langchain-community
langchain-openai
openai
langgraph
azure-ai-inference
mcp

